
.car {
  width: 600px;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.car__star {
  font-size: 24px;
  padding-left: 10px;
}

.car__title {
  font-size: 30px;
  cursor: pointer;
}

.car__image {
  width: 100%;
  max-width: 500px;
}

.car__info {
  font-size: 18px;
}

.car__stock {
  font-size: 20px;
  color: green;
}

.car__not-in-stock {
  font-size: 20px;
  color: red;
}

.car__title2 {
  font-size: 20px;
}

.car__colors {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.car__stock-wrapper {
  display: flex;
  gap: 15px;
}

.car__form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 200px;
  border-top: 1px solid black;
  margin-top: 30px;
}

.car__form-label {
  display: flex;
  gap: 10px;
  flex-direction: column;
}